@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    .scrollable-element::-webkit-scrollbar {
      display: none;
    } /* Hide the main scroll bar */
  }
  
  .main-content {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh; /* Set a height for the container */
  }
